h1 {
    background-color: lightblue;
    text-align: center;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

ul{
    text-align: center;
    font-size: 20px;
    margin: 12px;
    padding: auto;
}